* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(250, 231, 246);
}

.nav-bar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 padding: 10px 30px;
}
.nav-bar h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(50, 160, 250);
  font-weight: 900;
  font-size: 50px;
}
.nav-bar ul li{
  display: inline-block;
  padding: 0 25px;
  list-style: none;
}

.nav-bar ul li a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: 19px;
  color:rgb(50, 160, 250);
}

.nav-bar ul li a:hover{
  color: rgb(252, 166, 166);
}

.search-form .form-group {
  display: flex;
  justify-content: center;
  height: 35px;
  
}


.search-form .form-group .form-control,
.search-form .form-group .submit{
  outline: none;
  border:none;
  background-color: #fff;
}

.search-form .form-group .form-control{
  width: 186px;
  padding: 0 10px;
  outline: none;
  background: transparent;
  border: 2px solid rgb(252, 166, 166) ;
  border-right: none;
  font-size: 19px;
  color: #fff;
}

.search-form .form-group .submit{
  background: rgb(252, 166, 166);
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.6 ease;
  border: 2px solid rgb(252, 166, 166);
}

.search-form .form-group .submit:hover{
  background: rgb(238, 203, 218);
}

.form-group ::placeholder{
  color: rgb(252, 166, 166);
  font-size: 18px;
}

div.tagline {
	text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
	
}

div.tagline h1 {
	color: rgb(50, 160, 250);
	font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	position: relative;
	left: 0px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

h4{
 text-align: center;
 color: rgb(50, 160, 250);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding-top: 15px;
 padding-bottom: 20px;
 font-size: 30px;
}

button{
  text-align: center;
  color: rgb(50, 160, 250);
  margin-left: 590px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

h2{
  text-align: center;
  color: rgb(50, 160, 250);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 20px;

}

p{
  text-align: center;
  color: rgb(252, 166, 166);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 20px;

}